body {
    padding: 2em;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    padding: 15px;
    margin: 0%;
    color: rgb(0, 0, 0);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

h3 {
    text-align: center;
}

/*Images of the main "index" */
.main-img {
    border-radius: 15px;
    width: 400px;
    height: 200px;
}

/*All heads (h1) of all pages*/
.head {
    text-align: center;
    text-decoration: underline overline;
    padding-top: 30px;
    font-size: 3rem;
}

/*class that contain the list of the recipes in the main index*/
.recipelist {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin: 45px;
    color: rgb(0, 0, 0);
}

/*class that center the ordered list in the main index*/
.recipelist ul {
    text-align: left;
    display: inline-block;
    color: rgb(0, 0, 0);
    list-style: none;
}

a {
    color: black;
}

.recipelist li {
    text-align: center;
    color: #000000;
}


.recipe-image-container {
    display: flex;
    justify-content: center;
}

ul img {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/**/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------* Generated by Animista on 2023-1-23 17:26:41
/*Animation for the header like powerpoint haha. For now disabled

.scale-up-center {
    -webkit-animation: scale-up-center 900ms cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
    animation: scale-up-center 900ms cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
    text-align: center;
    margin: 25px;
}
    

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/**/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*float and images animations test*/

.float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.float:hover {
    box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*All pages contain description class (div), ingredients class (div) and steplist class (div) */

.description {
    font-size: 20px;
    float: left;
}

.ingredients {
    width: 750px;
    margin: auto;
}

.steplist {}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*animacion para background*/

#bg-image {
    position: fixed;

    top: 0;
    right: 0;

    width: 100%;
    height: auto;

    z-index: -10;

    animation-name: kenburns-top;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/