body {
    background-color: rgb(241, 223, 223);
    padding: 2em;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
    margin: 0%;
    color: rgb(0, 0, 0);
    max-width: auto;
    overflow-x: hidden;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

h3 {
    text-align: center;
}

/*Images of the main "index" */
.main-img {
    border-radius: 1rem;
    width: 65rem;
    height: 19rem;
}

/*All heads (h1) of all pages*/
.head {
    text-align: center;
    text-decoration: underline overline;
    padding-top: 1rem;
    font-size: 3.5rem;
    margin: 0;
    padding-left: 2rem;
}

/*class that contain the list of the recipes in the main index*/
.recipelist {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

/*class that center the ordered list in the main index*/
.recipelist ul {
    text-align: left;
    display: inline-block;
    color: rgb(0, 0, 0);
    list-style: none;
}

a {
    color: black;
}

.recipelist li {
    text-align: center;
    color: #000000;
}


.recipe-image-container {
    display: flex;
    justify-content: center;
}

ul img {
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/**/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------* Generated by Animista on 2023-1-23 17:26:41
/*Animation for the header like powerpoint haha. For now disabled

.scale-up-center {
    -webkit-animation: scale-up-center 900ms cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
    animation: scale-up-center 900ms cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
    text-align: center;
    margin: 25px;
}
    

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
*/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/**/

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*float and images animations test*/

.float {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.float:hover {
    box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -moz-transform: translate(0px, 5px);
}

.floatbtn {
    transition: .10s, color .20s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.floatbtn:hover {
    box-shadow: 0 2px 4px 0 #000000, 0 2px 2px 0 #000000;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*All pages contain description class (div), ingredients class (div) and steplist class (div) */

.buttons {
    text-align: center;
    margin: 0.5rem;

}

.buttons button {
    margin: 0.3rem;
}

.steplist {
    padding-bottom: 1rem;
}

.description {
    font-size: 1rem;
    float: left;
    padding-bottom: 2rem;
}

h3 {
    padding-bottom: 1rem;
}

.ingredients {
    width: 30rem;
    margin: auto;
    padding-bottom: 2rem ;
}

.steplist {
    font-size: 1.2rem;
}

ol li {
    margin-top: 1rem;
}

ul li {
    margin-top: 0.5rem;
}

.recipe-img {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*animacion para background*/

/* ------------------------------
#bg-image {
    position: fixed;

    top: 0;
    right: 0;

    width: 100%;
    height: auto;
    min-height: 100%;

    z-index: -10;

    animation-name: kenburns-top;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: left;
        transform-origin: left;
    }
}
-----------------*/
/*-------------------------------------------------------------RESPONSIVE------------------------------------------------------------------------------------------*/

@media (max-width:567px) {
    body {
        max-width: 70rem;
        overflow-x: hidden !important;
        background-color: rgb(241, 223, 223);
    }

    .recipelist ul {
        text-align: left;
        display: inline-block;
        color: rgb(0, 0, 0);
        list-style: none;
    }
    ul {
        width: 25rem;
        padding-left: 0;
    }
    .recipelist li {
        text-align: center;
        color: #000000;
    }

    a {
        width: 2rem;
    }
    .main-img {
        width: 25rem;
        height: 13rem;
        margin: none;
    }
    li {
        font-size: 1.6rem;
    }
    .head {
        padding-left: 0rem;
        padding-top: 0rem;
    }
    .recipe-img {
        width: 25rem;
    }
}